body {
	background-color: #ffffff;
}

.jumbotron {
	margin-bottom: 0px;
	color: white;
	background-color: #0f6674;
}

.jumbotron h2 {
	font-size: 50px;
	text-align: center;
	font-weight: 600;
	font-family: 'Megrim';
	background-color: #0f6674;
	text-align: center;
}

.container {
	width: 500px;
	margin: auto;
	margin-top: 40px;
}

.section {
	margin: 40px;
}

.header {
	height: 20%;
	background-color: #0f67748a;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	justify-content: center;
}

.temp, .humiditydiv {
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
	font-weight: 600;
	color: #0f6674ed;
}

.city-icon-holder {
	text-align: left;
	padding-top: 20px;
	font-weight: 600;
	color: #0f6674;
	font-size: 27px;
}

#city-name {
	font-family: "SourceSansPro-ExtraLight";
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
}

#icon {
	width: 50%;
}

#main {
	background-color: #0f677439;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
}

#search-btn {
	width: 40px;
	height: 40px;
	color: #0f6674;
}

#search-txt {
	color: #0f6674;
	height: 30px;
	border-radius: 10px;
	border-style: none;
	outline: none;
	padding-right: 1px;
	padding-left: 1px;
	text-align: center;
}

.search {
	padding: 15px;
}

.footer-icons {
	padding-left: 20px;
}

.footer-company-about {
	font-family: 'SourceSansPro-ExtraLight';
}

.telefone a {
	text-decoration: none;
	color: white;
}

.city-icon {
	display: inline-block;
	text-align: left;
}

.city {
	display: inline-block;
	margin: 0;
	padding-left: 70px;
}

.info {
	padding: 20px;
	margin: 0;
}