#rowDiv{
    margin: auto;
    text-align: center;
    width: 100%;
    font-family: 'SourceSansPro-ExtraLight';
}

input[type="text"]{
    height: 40px;
    font-size: 20px;
    font-family: 'SourceSansPro-ExtraLight';
}

#searchWeather{
    height: 40px;
    font-size: 20px;
    background-color: #0f6674;
    color: white;
    font-family: 'SourceSansPro-ExtraLight';
}
#headText{
    height: 40px;
    font-size: 20px;
    font-family: 'SourceSansPro-ExtraLight';
    color: #0f6674;
}